* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header layout */
header .container {
    border: 2px solid black;
    min-height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: aquamarine;
}

header .row {
    display: flex;
    background-color: yellow;
    border: 2px solid black;
    width: 600px;
    min-height: 30px;

}

header .col-25_1,
.col-25_2,
.col-50 {
    border: 2px solid black;
}

header .col-25_1 {
    display: flex;
    width: 25%;
    justify-content: flex-start;
}

header .col-50 {
    border: 2px solid black;
    width: 50%;
    display: flex;
    justify-content: center;
}

header .col-25_2 {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

/* SECTION CONTAINERS */
/* FIRST CONTAINER */
section .container {
    border: 2px solid black;
    min-height: 300px;
    display: flex;
    padding: 20px;
    justify-content: center;
}

section .row {
    border: 2px solid black;
    min-height: 300px;
    width: 600px;
    display: flex;
}

.col-65 {
    width: 65%;
    background-color: rgba(38, 89, 219, 0.482);
}

.col-35 {
    width: 35%;
    background-color: pink;
}

.bord-dash-black {
    border: 2px solid black;
}

/* SECOND CONTAINER */
.container-reversed {
    border: 2px solid black;
    min-height: 300px;
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: rgb(202, 197, 197);
}

.row-reversed {
    border: 2px solid black;
    min-height: 300px;
    width: 600px;
    display: flex;
    flex-direction: row-reverse;
}

/* THIRD CONTAINER */
section .container {
    border: 2px solid black;
    min-height: 300px;
    display: flex;
    padding: 20px;
    justify-content: center;
}

section .row {
    border: 2px solid black;
    min-height: 300px;
    width: 600px;
    display: flex;
}

/* MAIN CONTAINER */

.bg-gray {
    background-color: gray;
}

.bg-pink {
    background-color: pink;
}

.bg-green {
    background-color: green;
}

section .container {
    border: 2px solid black;
    min-height: 300px;
    display: flex;
    padding: 20px;
    justify-content: center;
}

section .row {
    border: 2px solid black;
    min-height: 300px;
    width: 600px;
    display: flex;
}

.col-40 {
    width: calc(40% - 2px);
    background-color: pink;
    border: 1px solid black;
    display: flex;
}

.col-15 {
    width: calc((60% - 8px) / 4);
    background-color: aqua;
    border: 1px solid black;
    display: flex;
}

/* FOOTER LAYOUT */
footer .container {
    border: 2px solid black;
    min-height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: aquamarine;
}

footer .row {
    display: flex;
    background-color: yellow;
    border: 2px solid black;
    width: 600px;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
}

footer .col-25_1,
.col-25_2,
.col-50 {
    border: 2px solid black;
}

footer .col-25_1-1 {
    display: flex;
    width: 40px;

    height: 50%;
    align-content: center;
    border: 2px solid black;

}

footer .col-25_2-1 {
    display: flex;
    align-content: stretch;
    height: 50%;
    height: 30px;
    border: 2px solid black;


}